/* NavBar links */
.navbar {
    height: 4rem;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: black;
    border-radius: 0px;
  
}
.navlogo{
  transform: scale(0.6);
  margin: 0px 0px;
  height: 4rem;
  width: 6rem;
  vertical-align: top;
}
.header-title{
  display: inline-block;
  color: rgb(247, 241, 241);
  margin: 0;
  margin-top: 1rem;
  vertical-align: middle;

}
.header-span{
  color:#00ba8e;
}
.navlist{
  display: inline-block;

}