
.Dashboard-profile{
    height:14rem;
    
}
.profile{
    
    width: 30%;
    border-radius: 8px;
    /* border: 2px solid #00ba8e; */
    margin: 1rem auto;
    margin-bottom: 0;
}
.avatar{
    border-radius: 100%;
    height:130px;
    width:130px;
    display: block;
    margin: 0 auto;
}
.profile-hr{
    width: 30%;
    background-color: #00ba8e;
    height:0.08rem;
    border-radius: 1.5px solid #00ba8e;
    display: block;
    margin: 0 auto;
  }
  .profile-hr1{
    width: 100%;
    background-color: #00916f;
    height:1rem;
border-radius: 1px solid #00916f;
    display: block;
    margin: 0 auto;
  }
.part1{
    width:80%;
    height: 45%;
    border-radius: 8px;
    margin:1rem auto;
    border: 1px solid #00ba8e;
    margin: 2rem auto;
    
}
.file{
    display: flex;
    flex-direction: column;
}
.dashboard-file{
width: 100%;
outline: none;
border-radius: 1px solid #00ba8e;
display: block;
padding: 0rem 1rem;

}
.dashboard-input{
    width: 90% !important;
    outline: none;
    border-radius: 1px solid #00ba8e;
    /* height: 10em; */
    height: 3rem;
    display: block;
margin: 1rem auto;
}
.dashboard-title{
    width: 87% !important;
    outline: none;
    border-radius: 1px solid #00ba8e !important;
    /* height: 10em; */
    height: 3rem;
    display: block;
margin: 1rem auto;
}
.submit-button{
    display: block;
    margin: 1rem auto;
    background-color: #00ba8e;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 4px;
}
.submit-button:hover{
    background-color: #00916f;
}

.part2-header{
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

    align-items: center;
    justify-content: center;

}
.part2{
    display: block;
}
.collapse-button {
    display: inline;
    width: 40%;
    border: none;
    background-color: white;
    color: black;
    margin: 0rem 2.5rem;
  }
.wrap{
    width: 60%;
    display: block;
    margin: 0 auto;
}

  .collapse-button:hover{
    padding:4px 0px;

     border-bottom: 2px solid #00ba8e;
     background-color: #cdf1ea;
     color: #00ba8e;
  }

  .collapse-button:focus{
    padding:4px 0px;
   border-bottom: 2px solid #00ba8e;
   color: #00ba8e;

}
.Dashboard-down{
    display: grid;
    height: 40rem;
    grid-template-columns: 19rem 40rem 12rem;
}
.dashboard-para{
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 0;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1170px) {
    .Dashboard-profile{
        height:14rem;
        
    }
    .profile{
        
        width: 70%;

    }

    .profile-hr{
    display: none;
      }
    .Dashboard-down{
        grid-template-columns: 1fr 1fr;
    }
    .wrap{
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    .part1{
        width:70%;
        height: 60%;
   
    }
   
}


@media screen and (max-width: 900px) {
    .Dashboard-profile{
        height:14rem;
        
    }
    .profile{
        
        width: 70%;

    }

    .profile-hr{
    display: none;
      }
    .Dashboard-down{
        grid-template-columns: 1fr;
    }
    .wrap{
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    .part1{
        width:60%;
        height: 75%;
   
    }
   
}
