.Dashboard-down{
    display: grid;
    height: 30rem;
    grid-template-columns: 20rem 40rem 20rem;
}
.Dashboard-profile{
    height:10rem;
}
.part2-header{
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

    align-items: center;
    justify-content: center;

}
.dashboard-para{
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

    align-items: center;
    justify-content: center;
}