.Register{
    width: 50%;
    height: 75%;
    margin:0 auto;

    
}

.Register-label
{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Register-label-header
{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #00ba8e;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: none;
    border-bottom: 1.5px solid #00ba8e;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: none;
    border-bottom: 1.5px solid #00ba8e;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    position: relative;
  }
  input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: none;
    border-bottom: 1.5px solid #00ba8e;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    /* resize: vertical Allow the user to vertically resize the textarea (not horizontally) */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register-span{
    width: 100%; 
    padding: 8px; 
    border: none;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; 
    margin-bottom: 16px; 
    /* resize: vertical Allow the user to vertically resize the textarea (not horizontally) */
    display: none;
    
  }
  .avatar1{
    border-radius: 100%;
    height:130px;
    width:130px;
    display: block;
    margin: 0 auto;

}
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #00ba8e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
  }
 .choose-avatar{
  background-color: #00ba8e !important;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}
 .each-avatar{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
 }
  input[type=text]:focus {
  outline: none;
  background-color: #e0fcf5;}
  input[type=password]:focus {
    outline: none;
    background-color: #e0fcf5;

  }
  input[type=email]:focus {
    outline: none;
    background-color: #e0fcf5;
  }
  .register-dropdown:focus{
    outline: none;
  }
.avatar-btn{
  background-color: #319cbd;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}
.avatar-btn:hover{
  background-color: #106c88;
color: white;
}
.avatar1:hover{
  opacity: 0.7;
  cursor: pointer;
}

.avatar1:focus{
  opacity: 0.7;
  cursor: pointer;
}
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #00916f;
  }
  input[type=submit]:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1.2rem;
    
  }
  .eye{
    margin-top:6px;
    margin-bottom:1rem;
    padding-top:1.2rem;
    margin-left:0rem;
    padding-left:7px;
     background-color:#e0fcf5;
     border-bottom:1.5px solid #00ba8e; 
  }
.eye:focus{
  background-color: #00ba8e;
}
.register-password{
 display:grid;
  grid-template-columns: 94% 6%;
}
@media screen and (max-width: 960px) {
    .Register{
        width: 70%;
        height: 70%;
        margin:0 auto;
    
    }
    .Register-label-header
{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #00ba8e;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eye{
  margin-left:0rem;
  padding-left:1rem;
}
.register-password{
   grid-template-columns: 92% 8%;
 }
}
@media screen and (max-width: 550px) {

.each-avatar{
  grid-template-columns: 1fr 1fr;
}
.Register{
  width: 90%;
  height: 70%;
  margin:0 auto;

}
.eye{
  margin-left:-1rem;
  padding-left:1.3rem;
}
.register-password{
   grid-template-columns: 88% 12%;
 }
}