#services{
    padding-top:5rem;
    height: 40rem;
    background-color: #e2f8f3;

}

.Services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:30rem;
}
.Services-h1{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;



  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #00ba8e;
}
.Services-hr{
  width: 95%;
  background-color: #00ba8e;
  height:0.03rem;
  border-radius: 1px solid #00ba8e;
}

.Card{
    height: 30rem;
    margin:2rem auto;
    width: 100%;   
}
h2{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;


}
p{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding:10px;

}

/* Flip CArd */
.flip-card {

    background-color: transparent;
    margin: 1rem auto;
    width: 19rem;
  height: 20rem;
    border: 2px solid #00ba8e;
    border-radius: 20px;
    perspective: 1000px; 
    /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 18px;
    box-shadow: 2px 2px 8px 2px #888888;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow: 4px 4px 8px 4px #888888;
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 18px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: rgb(134, 127, 127);
    align-items: center;
    color: black;
    border-radius: 18px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #00ba8e;
    color: white;
    transform: rotateY(180deg);
  }

@media screen and (max-width: 1200px) {
    .Services{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height:40rem;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }
    #services{
      height: 65rem;
    }
    .Card{
      height: 22rem;
      width: 100%;
    }

}

@media screen and (max-width: 960px) {
  .Services{
      display: grid;
      grid-template-columns: 1fr;
      height:60rem;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
  }
  #services{
    height: 88rem;
  }
  .Card{
    height: 20rem;
    width: 100%;
  }
}