.signin {
  display: block;
  justify-items: center;
  align-items: center;
  width: 20rem;
  height: 24rem;
  position: relative;
  border: 2px solid #00ba8e;
  border-radius: 4px;
  margin: 0 auto;
}
.signin-st{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  color: black;
  font-size: 1.5rem;
  /* padding-left: 8px; */
  width: 54%;
  padding: 0 auto;
}
.signin-st:hover{
  color: #00ba8e;
}

.signin-fa{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  color: black;
  font-size: 1.5rem;
  width: 50%;
  margin-left: 3rem;
  padding: 0 auto;
}
.signin-fa:hover{
  color: #00ba8e;
}
.signin-fa:focus{
  color: #00ba8e;
  border-bottom: 2px solid #0a9e7c !important;
}
.signin-select{
  color: #00ba8e;
  border-bottom: 2px solid #0a9e7c !important;
}
.signinhidden{
  display: none;
}
.signin-header {
  border-radius: 2px solid #00ba8e;
  text-align: center;
  margin: 1.5rem 0;
}
.signin-button {
  background-color: #00ba8e; /* Green */
  border: 2px solid #00ba8e;
  border-radius: 9px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.34rem;
  width: 14rem;
  padding: 0.6rem 0;
  box-shadow: 2px 2px;
  margin: 0.7rem auto;
  transition-duration: 0.3s;
}
.signin-checkbox{
  color: #00ba8e;
  margin-left: -1rem;
  margin-right: 8px;
  padding-top: 2px;
  height: 16px;
  width: 16px;
background: #00ba8e;
background-color: #00ba8e;

}
.signin-checkbox:focus{
background: #00ba8e;
}
.signin-checkbox:checked{
  background-color: #00ba8e;
  background: #00ba8e;
}
.signin-logo {
  color: #00ba8e;
  display: flex;
  margin: 1rem 7rem;
}

.signin-google {
  color: white;
}
.submit-button {
  background-color: #00ba8e; /* Green */
  border: 2px solid #00ba8e;
  border-radius: 9px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.3rem;
  width: 14rem;
  padding: 0.6rem 0;
  box-shadow: 2px 2px;
  margin: 0.7rem auto;
  transition-duration: 0.3s;
}
.submit-button:hover {
  background-color: #0a9e7c;
  font-size: 1.301rem;
}

.signin-span {
  width: 100%;
  /* padding: 8px; */
  border: none;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  /* margin-top: 6px; */
  /* margin-bottom: 16px; */
  /* resize: vertical Allow the user to vertically resize the textarea (not horizontally) */
  /* display: none; */
  visibility: hidden;
}
@media (max-width: 430px) {

.signin{
  width: 18rem;
}
.signin-st{
  width: 60%;
}
.signin-fa{
  width: 55%;
}
}