.signin{
    display: block;
    justify-items: center;
    align-items: center;
    width: 18rem;
    position: relative;
    border: 2.6px solid #00ba8e;
    border-radius: 4px;
    margin: 3rem auto;
}
.signin-header{
    border-radius: 2px solid #00ba8e;
    text-align: center;
}
.signin-button {
    background-color: #00ba8e; /* Green */
    border: 2px solid #00ba8e;
    border-radius: 9px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.3rem;
    width: 14rem;
    padding: 0.6rem 0;
    box-shadow: 2px 2px;
    margin:0.7rem auto;

  }
  .signin-logo{
      color: #00ba8e;
      display: flex;
      margin: 1rem 7rem;
  }
  .signin-button :hover{
      background-color: #0ba17e;
  }